// Navigation Styles here

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;

        a {
            margin: 30px;
            text-decoration: none;
            font-size: 16px;

        }


}

// .btn {
//     display: flex;
//     justify-content: center;
// }
